# Node modules
node_modules/

# Playwright test reports
reports/playwright-reports/
test-results/
reports/json-reports
.playwright-log-reporter.js

# Environment files
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Logs
reports/logs/
*.log

observability\loki-data

# Coverage reports
coverage/


# Promtail runtime state
/tmp/positions.yaml

# Ignore everything in logs folder except .gitkeep
reports/logs/
!reports/logs/.gitkeep
