# Node modules
node_modules/

# Playwright test reports
playwright-report/
test-results/


# Environment files
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Logs
logs/
*.log


.playwright-log-reporter.js

# Coverage reports
coverage/

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/

# Promtail runtime state
/tmp/positions.yaml

# Ignore everything in logs folder except .gitkeep
reports/logs/
!reports/logs/.gitkeep
